#root {
  text-align: center;
}

.or::before {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0,50%);
  border-top: 1px solid black;
  height: 100%;
  content: '';
  z-index: -1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  background-color: hsl(139, 10%, 20%);
}

.log-table::-webkit-scrollbar, .tracker::-webkit-scrollbar {
  display: none;
}

.container::-webkit-scrollbar, .tracker::-webkit-scrollbar {
  display: none;
}

.drawer.active {
  width: 200px;
  transform: translateX(0);
}

.drawer {
  transform: translateX(-100%);
}

.bg-muted {
  display: hidden !important;
}

[data-slot="drawer-content"]::after {
  display: none !important;
  content: none !important;
}

